---
layout: tutorial-base
title: Algorithmen und Datenstrukturen 2021/22
---

<!-- Content -->
<section>
    <header class="main">
        <div class="title">Algorithmen & Datenstrukturen</div>
        <div class="subtitle">Winter 2021/22</div>
    </header>

    <span class="image main"><img src="images/bg9b.jpg" alt="" /></span>

    <div class="box" style="font-size: 1em; font-weight: 700">
        Meine Übungen am
        <ul style="margin-bottom: 0">
            <li>
                Montag von 13<sup>00</sup> bis 14<sup>30</sup> Uhr (4. DS) im
                Raum APB/E009
            </li>
            <li>
                Mittwoch von 14<sup>50</sup> bis 16<sup>20</sup> Uhr (5. DS) im
                Raum APB/E010
            </li>
        </ul>
        starten in der ersten Vorlesungswoche ab 11. Oktober 2021. Die
        Einschreibung findet via
        <a
            href="https://bildungsportal.sachsen.de/opal/auth/RepositoryEntry/32107069456/CourseNode/1632104878104213012"
            target="_blank"
            >OPAL</a
        >
        statt.
    </div>

    <!--
		<div class="box">
			<ol>
				<li><a href="#inhalte">Inhalte der Übungen</a></li>
				<li><a href="#news">News</a></li>
				<li><a href="#informationen">Informationen</a></li>
				<li><a href="#uebungsmaterial">Übungsmaterial</a></li>
				<li><a href="#online-uebungen">Online-Übung</a></li>
				<li><a href="#klausurvorbereitung">Klausurvorbereitung</a></li>
				<li><a href="#uebungsuebersicht">Übungsübersicht</a></li>
			</ol>
		</div>
	-->

    <h2 id="inhalte">Inhalte der Übungen</h2>
    <p style="text-align: justify">
        Im Rahmen der zur Lehrveranstaltung gehörenden Übungen wenden wir das in
        der Vorlesung erlernte Wissen an und versuchen mit vielen Beispielen
        eine anschauliche Sicht auf die Thematik zu werfen. Dabei beschäftigen
        wir uns im ersten Teil mit Grundlagen der formalen Sprachtheorie und
        lernen zum Beispiel Syntaxdiagramme, den Rücksprungalgorithmus, EBNF und
        die Fixpunktsemantik kennen. Anschließend beschäftigen wir uns mit
        Grundlagen der Programmiersprache C, betrachten einfache Datenstrukturen
        und abschließend verkettete Listen und Bäume.
    </p>
    <p style="text-align: justify">
        Im zweiten Teil behandeln wir grundlegende Algorithmen aus folgenden
        Themenbereichen:
    </p>
    <ul>
        <li>Sortieren (Quicksort und Heapsort)</li>
        <li>Suchen und Ersetzen (KMP-Algorithmus und Levenshtein-Dinstanz)</li>
        <li>
            Graphalgorithmen (Breiten- und Tiefensuche, topologisches Sortieren,
            kürzeste Wege, algebraisches Pfadproblem)
        </li>
        <li>EM-Algorithmus</li>
    </ul>

    <h2 id="news">News</h2>
    <div class="box">{% include_relative tutorials/aud21/news.html %}</div>

    <h2 id="informationen">Informationen</h2>

    <p style="text-align: justify">
        Alle für die Lehrveranstaltungen relevanten Informationen findet ihr im
        <a
            href="https://bildungsportal.sachsen.de/opal/auth/RepositoryEntry/32107069456"
            target="_blank"
            >OPAL-Kurs</a
        >. Die Vorlesung wird in diesem Semester als Video bereitgestellt und
        jeden Freitag im OPAL-Kurs verfügbar gemacht. In der folgenden Woche
        wird eine Auswahl an Aufgaben aus der Aufgabensammlung in den Übungen
        besprochen. Bei Fragen oder Problemen könnt ihr euch an
        <a href="mailto:eric.kunze@tu-dresden.de">mich</a> oder an
        <a href="mailto:thomas.ruprecht@tu-dresden.de">Thomas Ruprecht</a>
        wenden. Mich erreicht ihr auch schnell und problemlos via Telegram
        <code><a href="https://t.me/oakoneric">@oakoneric</a></code
        >.
    </p>

    <h2 id="uebungsmaterial">Übungsmaterial</h2>

    <p style="text-align: justify">
        Vom Lehrstuhl werden die in der Vorlesung verwendeten Slides sowie eine
        Aufgabensammlung zur Verfügung gestellt. Diese Materialien sind nur aus
        dem TU-Netz erreichbar, d.h. ihr müsst dafür ggf. eine
        <a
            href="https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/zugang_datennetz/vpn"
            target="_blank"
            >VPN-Verbindung</a
        >
        verwenden. Für die verlinkten Materialien vom Lehrstuhl gelten die
        entsprechenden Hinweise im OPAL-Kurs.
    </p>

    <div style="text-align: center; padding-bottom: 1em">
        <a
            href="https://www.orchid.inf.tu-dresden.de/assets/tudrestricted/aud-slides.pdf"
            class="button primary icon solid fa-link"
            >Slides</a
        >
        &nbsp;&nbsp;
        <a
            href="https://www.orchid.inf.tu-dresden.de/assets/tudrestricted/ags.pdf"
            class="button icon solid fa-link"
            >Aufgabensammlung</a
        >
    </div>
    <p style="text-align: justify">
        Die in meinen Übungen verwendeten Materialien habe ich größtenteils in
        meiner Freizeit erstellt. Sie stammen insbesondere nicht vom Lehrstuhl
        und können damit trotz gründlicher Arbeit noch Fehler enthalten. Die
        Folien sollen keineswegs den aktiven Besuch der Übungen ersetzen,
        sondern vielmehr eine Hilfestellung sein um sich während der Übung auf
        das Verständnis konzentrieren zu können und das Nacharbeiten zu
        erleichtern. Die Slides und den zugehörigen Latex-Code dazu findet ihr
        in meinem entsprechenden Github-Repository. Findet ihr einen Fehler in
        meinen Lösungen, dann fühlt euch eingeladen mir dies mitzuteilen oder
        direkt selbst mit einem Request zu beheben.
    </p>
    <p style="text-align: justify">
        Einen Eindruck der Übungen könnt ihr euch anhand des
        <a href="aud20.html">letzten Durchlaufes im Wintersemester 2020/21</a>
        machen. Damals musste ein großer Teil der Übungen online stattfinden -
        diese Übungen existieren auch als Video. Kontaktiert mich, wenn ihr die
        Zugangsdaten dafür benötigt.
    </p>

    <h2 id="klausurvorbereitung">Klausurvorbereitung</h2>
    <p style="text-align: justify">
        Zur Klausurvorbereitung findet ihr auf dem
        <a
            href="https://ftp.ifsr.de/klausuren/Grundstudium/Programmierung/"
            target="_blank"
            >FTP-Server</a
        >
        vom iFSR einige <strong>Altklausuren</strong>. Auch dafür benötigt ihr
        eine
        <a
            href="https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/zugang_datennetz/vpn"
            target="_blank"
            >VPN-Verbindung</a
        >
        ins Uni-Netz.
    </p>

    <h2 id="uebungsuebersicht">Übungsübersicht</h2>

    <h3>Teil 1: Formale Sprachen</h3>

    {% for tut in site.pages %} {% if tut.type == 'aud21' %} {% if tut.section
    == "formale sprachen" %}
    <details>
        <summary>
            <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
            <div class="subtitle">{{tut.date}}</div>
        </summary>

        <div class="exercise-content">{{ tut.content }}</div>
    </details>
    {% endif %} {% endif %} {% endfor %}

    <h3>Teil 2: Programmieren in C</h3>

    <p style="text-align: justify">
        Leider haben wir in den Übungen nicht die Zeit um allen einen
        funktionsfähigen Compiler und ein optimales Setup zu garantieren. Daher
        bitte ich euch die Informationen auf der
        <a href="https://www.orchid.inf.tu-dresden.de/teaching/2020ws/aud/"
            >Lehrveranstaltungswebsite</a
        >
        zu beachten. Außerdem habe ich unter dem folgenden Button einige
        Hinweise zusammengetragen. Wie immer sind natürliche auch Google und
        YouTube sehr gute Quellen für weitere Hilfe. Im Zweifelsfall hilft euch
        sicher auch der iFSR.
    </p>

    <p style="text-align: center">
        <a href="aud-hints-c.html" class="button"
            >Hinweise zum Programmieren mit C</a
        >
    </p>

    {% for tut in site.pages %} {% if tut.type == 'aud21' %} {% if tut.section
    == "programmieren mit c" %}
    <details>
        <summary>
            <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
            <div class="subtitle">{{tut.date}}</div>
        </summary>

        <div class="exercise-content">{{ tut.content }}</div>
    </details>
    {% endif %} {% endif %} {% endfor %}

    <h3>Teil 3: Algorithmen</h3>

    {% for tut in site.pages %} {% if tut.type == 'aud21' %} {% if tut.section
    == "algorithmen" %}
    <details>
        <summary>
            <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
            <div class="subtitle">{{tut.date}}</div>
        </summary>

        <div class="exercise-content">{{ tut.content }}</div>
    </details>
    {% endif %} {% endif %} {% endfor %}
</section>
