---
layout: tutorial-base
title: Programmierung 2022
---

<!-- Content -->
<section>
  <header class="main">
    <div class="title">Programmierung</div>
    <div class="subtitle">Sommer 2022</div>
  </header>

  <span class="image main"><img src="images/bg11b.jpg" alt="" /></span>

  <div class="box" style="font-size: 1em; font-weight: 700">
    Meine Übungen am
    <ul style="margin-bottom: 0">
      <li>
        Montag von 13<sup>00</sup> bis 14<sup>30</sup> Uhr (4. DS) im Raum
        APB/E006
      </li>
      <li>
        Mittwoch von 11<sup>10</sup> bis 12<sup>40</sup> Uhr (3. DS) im Raum
        HSZ/0108
      </li>
    </ul>
    starten ab 11. April 2022. Die Einschreibung findet via
    <a
      href="https://bildungsportal.sachsen.de/opal/auth/RepositoryEntry/34152054791?7"
      target="_blank"
      >OPAL</a
    >
    statt.
  </div>

  <h2>Inhalte der Übungen</h2>
  <p style="text-align: justify">
    Im Rahmen der zur Lehrveranstaltung gehörenden Übungen wenden wir das in der
    Vorlesung erlernte Wissen an und versuchen die Theorie an Beispielen zu
    illustrieren:
  </p>
  <ul>
    <li>Grundlagen der funktionalen Programmierung in Haskell</li>
    <li>Unifikationsalgorithmus</li>
    <li>Beweis von Programmeigenschaften mit struktureller Induktion</li>
    <li>Lambda-Kalkül</li>
    <li>Logikprogrammierung in Prolog</li>
    <li>
      Abstrakte Maschinen AM<sub>0</sub> und AM<sub>1</sub> sowie deren
      Übersetzung von/nach C
    </li>
    <li>Beweis von Programmeigenschaften mit dem Hoare-Kalkül</li>
    <li>Abstrakte Maschinen mit Haskell</li>
  </ul>

  <h2 id="news">News</h2>
  <div class="box">{% include_relative tutorials/prog22/news.html %}</div>

  <blockquote>
    <p style="text-align: justify">
      Ich bemühe mich stets euch das Lernen so angenehm, unterhaltsam und
      einfach wie möglich zu machen. Das ist mein eigener Anspruch und dafür
      opfere ich auch gern mal meine Freizeit. Ein Beispiel, wofür relativ viel
      Zeit drauf gegangen ist, seht ihr gerade vor euren Augen: diese Website.
      Sie ist sicher nicht perfekt und sicher auch nicht notwendig, um euch eine
      Übung zu bieten. Ebenso ensteht mein ganzes Material wie Slides und
      Mitschriften nicht mal eben so. Vielleicht hat der ein oder andere schon
      erkannt, worauf es hinaus laufen soll: wenn du Lust und das nötige
      Kleingeld dafür hast, würde ich mich sehr freuen, wenn du meine Arbeit
      unterstützt und mir vielleicht einen Kaffee oder ein Mensaessen
      spendierst. Aber versteht mich bitte nicht falsch: ich mache das alles
      wirklich super gerne und habe auch meinen Spaß daran - und Geld wird auf
      meine Arbeit nie einen Einfluss haben. Und ja, für meine Tutorentätigkeit
      werde ich auch als studentische Hilfskraft bezahlt - mit vier bzw. fünf
      Stunden für zwei Übungen deckt das aber gerade einmal die Übungszeit und
      ein wenig Vorbereitung ab.
    </p>
    <div style="display: inline; text-align: right">
      <form
        action="https://www.paypal.com/donate"
        method="post"
        target="_blank"
      >
        <input type="hidden" name="hosted_button_id" value="P8KY8G9E6XKDY" />
        <input
          type="submit"
          value="Spendier' mir einen PayPal-Kaffee"
          class="primary"
          border="0"
          name="submit"
          alt="Spendiere mir einen PayPal-Kaffee"
        />
      </form>
    </div>
  </blockquote>

  <h2>Informationen</h2>

  <p style="text-align: justify">
    Alle für die Lehrveranstaltungen relevanten Informationen findet ihr im
    <a
      href="https://bildungsportal.sachsen.de/opal/auth/RepositoryEntry/34152054791?7"
      target="_blank"
      >OPAL-Kurs</a
    >. Die Vorlesung wird in diesem Semester nicht mehr als Video
    bereitgestellt, sondern findet jeden Freitag (ab 8. April 2022) von 9<sup
      >20</sup
    >
    Uhr bis 10<sup>50</sup> online via Zoom statt. Es wird keine Aufzeichnungen
    geben. Den Zugangslink findet ihr im OPAL-Kurs im Baustein "Vorlesungen".
    Bei Fragen oder Problemen könnt ihr euch an
    <a href="mailto:eric.kunze@tu-dresden.de">mich</a> oder an
    <a href="mailto:thomas.ruprecht@tu-dresden.de">Thomas Ruprecht</a>
    wenden. Mich erreicht ihr auch schnell und problemlos via Telegram
    <code><a href="https://t.me/oakoneric">@oakoneric</a></code
    >.
  </p>

  <h2 id="uebungsmaterial">Übungsmaterial</h2>

  <p style="text-align: justify">
    Vom Lehrstuhl werden die in der Vorlesung verwendeten Slides sowie eine
    Aufgabensammlung zur Verfügung gestellt. Diese Materialien sind nur aus dem
    TU-Netz erreichbar, d.h. ihr müsst dafür ggf. eine
    <a
      href="https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/zugang_datennetz/vpn"
      target="_blank"
      >VPN-Verbindung</a
    >
    verwenden. Für die verlinkten Materialien vom Lehrstuhl gelten die
    entsprechenden Hinweise im OPAL-Kurs.
  </p>

  <div style="text-align: center; padding-bottom: 1em">
    <a
      href="https://www.orchid.inf.tu-dresden.de/videos/e-learning/prog-slides.pdf"
      class="button primary icon solid fa-link"
      >Slides</a
    >
    &nbsp;&nbsp;
    <a
      href="https://www.orchid.inf.tu-dresden.de/assets/tudrestricted/ags.pdf"
      class="button icon solid fa-link"
      >Aufgabensammlung</a
    >
  </div>
  <p style="text-align: justify">
    Die in meinen Übungen verwendeten Materialien habe ich größtenteils in
    meiner Freizeit erstellt. Sie stammen insbesondere nicht vom Lehrstuhl und
    können damit trotz gründlicher Arbeit noch Fehler enthalten. Die Folien
    sollen keineswegs den aktiven Besuch der Übungen ersetzen, sondern vielmehr
    eine Hilfestellung sein um sich während der Übung auf das Verständnis
    konzentrieren zu können und das Nacharbeiten zu erleichtern. Die Slides und
    den zugehörigen Latex-Code dazu findet ihr in meinem entsprechenden
    Github-Repository. Findet ihr einen Fehler in meinen Lösungen, dann fühlt
    euch eingeladen mir dies mitzuteilen oder direkt selbst mit einem Request zu
    beheben.
  </p>
  <p style="text-align: justify">
    Einen Eindruck der Übungen könnt ihr euch anhand des
    <a href="prog21.html">letzten Durchlaufes im Sommersemester 2021</a>
    machen. Damals musste ein großer Teil der Übungen online stattfinden - diese
    Übungen existieren auch als Video. Kontaktiert mich, wenn ihr die
    Zugangsdaten dafür benötigt.
  </p>

  <h2 id="klausurvorbereitung">Klausurvorbereitung</h2>
  <p style="text-align: justify">
    Zur Klausurvorbereitung findet ihr auf dem
    <a
      href="https://ftp.ifsr.de/klausuren/Grundstudium/Programmierung/"
      target="_blank"
      >FTP-Server</a
    >
    vom iFSR einige <strong>Altklausuren</strong>. Ihr benötigt dafür eine
    <a
      href="https://tu-dresden.de/zih/dienste/service-katalog/arbeitsumgebung/zugang_datennetz/vpn"
      target="_blank"
      >VPN-Verbindung</a
    >
    ins Uni-Netz.
  </p>

  <h2 id="uebungsuebersicht">Übungsübersicht</h2>

  <p style="text-align: justify">
    Im Folgenden findet ihr das gesamte Material meiner Übungen und den
    Vorlesungsinhalten. Vorlesungsmaterialien sind urheberrechtlich seitens der
    Professur geschützt und keinsweg mein Eigentum. Es sind die Hinweise im
    OPAL-Kurs einzuhalten.
  </p>

  <h3>Teil 1: Funktionale Programmierung</h3>

  <div id="hinweise" style="padding-bottom: 2em">
    <p style="text-align: justify">
      Leider haben wir in den Übungen nicht die Zeit um allen einen
      funktionsfähigen Compiler und ein optimales Setup zu garantieren. Wie
      immer sind natürliche Google und YouTube sehr gute Quellen für Hilfe. Im
      Zweifelsfall hilft euch sicher auch der iFSR. Außerdem habe ich euch
      einige Hinweise zusammengetragen:
    </p>
    <div style="text-align: center; padding: 1em">
      <a href="prog-hints-haskell.html" class="button">Hinweise zu Haskell</a>
    </div>

    <p style="text-align: justify">
      Für das <strong>Selbststudium</strong> gibt es zwei sehr gute Bücher, die
      ich euch empfehlen möchte. Beide Bücher sind frei online verfügbar, sogar
      ohne VPN und ohne SLUB-Zugang.
    </p>
    <ul>
      <li>
        <strong>Learn You a Haskell For Great Good!</strong>
        Ein sehr gut geschriebenes Buch, kann ich nur empfehlen einmal
        reinzusehen. Erklärt sehr ausführlich und kurzweilig. Damit sollte jeder
        Haskell verstehen können. Eine Online-Version des Buches findet ihr
        <a href="http://learnyouahaskell.com/" target="_blank">hier</a>.
      </li>
      <li>
        <strong>Real World Haskell</strong>
        Ebenso ein sehr gutes Buch, deckt aber wesentlich mehr Inhalte ab, als
        wir brauchen werden. Die Online-Version gibt's
        <a href="http://book.realworldhaskell.org/read/" target="_blank">hier</a
        >.
      </li>
    </ul>
  </div>

  {% for tut in site.pages %} {% if tut.type == 'prog22' %} {% if tut.section ==
  "funktionale programmierung" %}
  <details>
    <summary>
      <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
      <div class="subtitle">{{tut.date}}</div>
    </summary>

    <div class="exercise-content">{{ tut.content }}</div>
  </details>
  {% endif %} {% endif %} {% endfor %}

  <h3>Teil 2: Logikprogrammierung</h3>

  <p style="text-align: justify">
    Für Prolog können wir auch relativ gut auf einen
    <a href="https://swish.swi-prolog.org/" target="_blank"
      >Online-Interpreter</a
    >
    zurückgreifen.
  </p>

  <div style="text-align: center; margin-bottom: 2em;">
    <a href="prog-hints-prolog.html" class="button">Hinweise zu Prolog</a>
  </div>

  {% for tut in site.pages %} {% if tut.type == 'prog22' %} {% if tut.section ==
  "logik" %}
  <details>
    <summary>
      <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
      <div class="subtitle">{{tut.date}}</div>
    </summary>

    <div class="exercise-content">{{ tut.content }}</div>
  </details>
  {% endif %} {% endif %} {% endfor %}

  <h3>Teil 3: Abstrakte Maschinen</h3>

  {% for tut in site.pages %} {% if tut.type == 'prog22' %} {% if tut.section ==
  "compilerbau" %}
  <details>
    <summary>
      <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
      <div class="subtitle">{{tut.date}}</div>
    </summary>

    <div class="exercise-content">{{ tut.content }}</div>
  </details>
  {% endif %} {% endif %} {% endfor %}
</section>
