---
layout: tutorial-base
title: Testpage
---

<!-- Content -->
<section>
  <header>
    <div class="title">Title</div>
    <div class="subtitle">Untertitle</div>
  </header>

  <h2>Überschrift 2</h2>

  Das hier wird noch zu einer Liste werden:
  <ul>
    <li>Grundlagen der funktionalen Programmierung in Haskell</li>
    <li>Unifikationsalgorithmus</li>
    <li>Beweis von Programmeigenschaften mit struktureller Induktion</li>
    <li>Lambda-Kalkül</li>
    <li>Logikprogrammierung in Prolog</li>
    <li>Abstrakte Maschinen AM0 und AM1 sowie deren Übersetzung von/nach C</li>
    <li>Beweis von Programmeigenschaften mit dem Hoare-Kalkül</li>
    <li>Abstrakte Maschinen mit Haskell</li>
  </ul>

  <h2>Überschrift 2</h2>
  <p>
    Hier steht unter anderem auch ein
    <a href="https://www.orchid.inf.tu-dresden.de/teaching/2021ss/prog/">Link</a
    >.
  </p>

  <h2>Übungen</h2>

  {% for tut in site.pages %} {% if tut.type == 'prog21' %}
  <details>
    <summary>
      <div class="title">Woche {{tut.nr}}: {{tut.title}}</div>
      <div class="subtitle">{{tut.date}}</div>
    </summary>

    <div class="exercise-content">
      <ul class="fa-ul">
        <li>
          <i class="fa-li fa fa-video"></i>
          <a href="{{tut.vl-video}}" target="_blank">Vorlesungsvideo</a>
        </li>

        <li>
          <i class="fa-li fa fa-pen"></i>
          <a href="{{tut.ue-blatt}}" target="_blank">Übungsblatt {{tut.nr}}</a>
        </li>

        {% if tut.templates %}
        <li>
          <i class="fa-li fa fa-code"></i>
          <a href="tut.templates"
            >Coding Templates <span class="icon solid fa-download"></span
          ></a>
        </li>
        {% endif %}

        <li>
          <i class="fa-li fa fa-video"></i>
          <a href="{{tut.ue-video}}" target="_blank">
            Videoaufzeichnung der Übung
          </a>
        </li>

        <li>
          <i class="fa-li fa fa-edit"></i>
          <div style="text-align: left">
            <a href="{{tut.slides}}" class="button primary">Slides</a>
            <a href="{{tut.handout}}" class="button">Handout</a>

            {% if tut.code %} &nbsp;&nbsp;&nbsp;
            <a
              href="{{tut.code}}"
              target="_blank"
              class="button icon solid fa-download"
            >
              Code
            </a>
            {% endif %}
          </div>
        </li>

        {{ tut.content }}
      </ul>
    </div>
  </details>
  {% endif %} {% endfor %}

  <footer>Hier steht section footer text.</footer>
</section>
