<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li>
      <a href="aud21.html">
        <div class="menu-item-title">Algorithmen & Datenstrukturen</div>
        <div class="menu-item-subtitle">Winter 2021/22</div>
      </a>
    </li>
    <li>
      <a href="fs21.html">
        <div class="menu-item-title">Formale Systeme</div>
        <div class="menu-item-subtitle">Winter 2021/22</div>
      </a>
    </li>
    <li>
      <a href="prog21.html">
        <div class="menu-item-title">Programmierung</div>
        <div class="menu-item-subtitle">Sommer 2021</div>
      </a>
    </li>

    <li>
      <a href="archiv.html">
        <div class="menu-item-title">Früher</div>
      </a>
    </li>
    <!-- <li>
            <span class="opener">Submenu</span>
            <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li> -->
  </ul>
</nav>
